@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: black;
}

.home-bg-blue{
    background-image: url('/src/Assets/bg/Blue.png');
    height: 100%;
    background-size: cover;
}
.home-bg-green{
    background-image: url('/src/Assets/bg/Green.png');
    background-size: cover;
}
.game-bg{
    background-image: url('/src/Assets/bg/Background.png');
}
.game-bg2{
   background-color: rgba(1, 22, 39, 0.84);
}
 .text-shadow-colored {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
  }
.game-bg{
        background: linear-gradient(180deg, rgba(35, 122, 109, 1) 0%, rgba(22, 66, 83, 1) 100%, rgba(238, 130, 238, 1) 100%);
}

