@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: black;
}

.home-bg-blue{
    background-image: url('/src/Assets/bg/Blue.png');
    height: 100%;
    background-size: cover;
}
.home-bg-green{
    background-image: url('/src/Assets/bg/Green.png');
    background-size: cover;
}